[submodule "audacity"]
	path = audacity
	url = https://github.com/audacity/audacity.git
[submodule "wxWidgets"]
	path = wxWidgets
	url = https://github.com/audacity/wxWidgets.git
[submodule "kissfft"]
	path = kissfft
	url = https://github.com/mborgerding/kissfft.git
