*.DS_Store
*xcuserdata/*
*/DerivedData/*
*xcuserdata*
mac/Build/*
*xcshareddata*
*.DS_Store*

# Assuming the out-of-source cmake build uses this directory
build/
.idea/
/ninja-build
/buildalt
/audacity-build
/release-build
/release-alt
*.pkg
*.so
