//
//  Aurora.xcconfig
//  Aurora
//
//  Created by Matthew Hamilton on 31/07/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


// Aurora Config Definitions
AURORA_SRC_PATH=../src

// Audacity Config Definitions
AUDACITY_SRC_PREFIX   = ../audacity
AUDACITY_SRC_PATH     = $(AUDACITY_SRC_PREFIX)/src
AUDACITY_LIB_PREFIX   = $(AUDACITY_SRC_PREFIX)/libraries
AUDACITY_MODULES_PATH = $(AUDACITY_BUNDLE_PATH)/modules

AUDACITY_BINARY_PATH = ../../audacity/mac/build/Audacity/Build/Products/Release64/Audacity.app
AUDACITY_BUNDLE_PATH = $(AUDACITY_BINARY_PATH)/Contents
AUDACITY_BINARY      = $(AUDACITY_BUNDLE_PATH)/MacOS/Audacity
AUDACITY_MAJOR_VER       = 3
AUDACITY_MINOR_MINOR_VER = 4
AUDACITY_MINOR_VER       = 1
AUDACITY_HEX_VER         = 0x030401
AUDACITY_VER             = $(AUDACITY_MAJOR_VER).$(AUDACITY_MINOR_VER).$(AUDACITY_MINOR_MINOR_VER)


// WxWidgets Definitions
//WX_PREFIX = /usr/local/Cellar/wxwidgets/3.1.3.0_0
//WX_VERSION = 3.1
WX_PREFIX = /usr/local/Cellar/wxwidgets/3.2.2.1_1
WX_VERSION = 3.2

WX_CFLAGS = -I$(WX_PREFIX)/lib/wx/include/osx_cocoa-unicode-$(WX_VERSION) -I$(WX_PREFIX)/include/wx-$(WX_VERSION) -D_FILE_OFFSET_BITS=64 -DwxDEBUG_LEVEL=1 -DWXUSINGDLL -D__WXMAC__ -D__WXOSX__ -D__WXOSX_COCOA__
WX_FULL_VER = $(WX_VERSION)
WX_LDFLAGS = -L$(WX_PREFIX)/lib -lwx_osx_cocoau_xrc-$(WX_VERSION) -lwx_osx_cocoau_html-$(WX_VERSION) -lwx_osx_cocoau_qa-$(WX_VERSION) -lwx_osx_cocoau_adv-$(WX_VERSION) -lwx_osx_cocoau_core-$(WX_VERSION) -lwx_baseu_xml-$(WX_VERSION) -lwx_baseu_net-$(WX_VERSION) -lwx_baseu-$(WX_VERSION)

// KissFFT Definitions
KISSFFT_PATH = /Users/admin/Documents/GitHub/Aurora-for-Audacity/thirdyParty/kissfft-1.31
